body {
display:flex;
flex-direction: column;
font-family: Roboto;
font-size: 12px;
padding-left: 20%;
padding-right:20%;
justify-content: space-between;
align-items: stretch;
align-content: space-evenly;
}


.header {
color:white;
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: #254c42;
padding:10px;
}

.header .top{
    display:flex;
    justify-content: space-between; 
    padding:5px;
    align-items: center;
}

.header .top .logo{
    display:flex;
    justify-content: start;
    /* flex-shrink: 0; */
    font-size: 20px;

}
.header .top .references{
    display:flex;
    justify-content: end;
    gap:18px;
    color:gray;

}

.header .bottom
{
    display:flex;
    color:#f9faf8;
    justify-content: flex-start;
    padding-left: 15px;
    justify-content: space-evenly;
}

.header .bottom .box-one
{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* max-width:40%; */
    width:400px;
    color: #e5e7eb;
    padding: 5px;
    flex:1 1 100px;
    gap: 10px;


   
}

.header .bottom .box-two
{
    display:flex;
    justify-content: space-around;
    padding:20px;
    border: 15px;
    border-color: aqua;
    margin: 5px;
    /* background-color: #6c747d; */
    flex:1 1 200px;
}

.early-mid
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* flex:1; */
    /* min-height:150px; */
    flex: 1 1 250px;
}

#early-mid-title {
    color:#254c42;
    font-weight: 900;
    font-size: 26px;
    /* font-size: 29px; */
}

.images{
    display:flex;
    justify-content: space-evenly;
    gap:25px;
    flex:1 1 100px;
    padding:5px;
}


.late-mid
{
    display:flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #e5e7eb ;
    font-size: 22px;
    font-style: italic;
    font-weight: 10;
    color: #254c42;
    padding:10px;
    height:auto;
}

.late-mid .end-quote{
    font-size:14px;
    color:#254c42;
    font-size: 14px;
    font-weight:900;
    text-align: right;

}


.end{
    display:flex;
    justify-content: flex-start;
    background-color: #818e6e;
    align-items: center;
    height:150px;
    padding: 25px;
    gap:100px;
}

.end .text {
    color:#f9faf8;
    font-weight: 700;

}

.end .text .smaller {
    font-size: 12px;
    font-weight:normal
}

.end .button2 {
    border:1px solid #e5e7eb;
    display: flex;
    /* padding:25px; */
    align-content: center;
    justify-content: flex-end;
    align-items: center;


}


.footer
{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#254c42;
    color:#e5e7eb;
    height:50px;
    font-size: 8px;

}


img {
    width: 100%;
    height:auto;
}

#head-img {
    display:flex;
    width: 100%;
    height:auto;
    
}

span{
    color: #254c42;
}
button{
    background-color: #818e6e;
    width:100px;
    height:25px;
    border-radius: 5px;
    color:white;
    border-color: #818e6e;
}

#hero {
    font-size: 28px;
    font-weight: 900;
    color:#f9faf8   
}
a{
    color:gray;
    text-decoration: none;
}